<%-include ('../shared/header') %>
<div class="row mt-4">
    <div class="offset-md-2 col-md-6">
           <ul class="list-group">
            <li class="list-group-item">NodeJs</li>
            <li class="list-group-item">MongoDB</li>
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">EJS</li>
            <li class="list-group-item">SOCKETIO</li>
            <li class="list-group-item">JAVA</li>
           </ul>
    </div>
</div>
<%-include ('../shared/footer') %>